<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Evolución diferencial</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/normalize.css') }}">
    </head>
    <body>
        <header>
            <h1>Evolución Diferencial</h1>
        </header>
    
        <div class="container">
            <div class="button-section">
                <button id="generate-population">Generar población inicial</button>
            </div>

            <!-- Aquí agregamos el input para seleccionar el número -->
            <div class="number-input-section">
                <label for="number-input">Seleccione el número de generaciones:</label>
                <input type="number" id="number-input" name="number-input" min="1" max="100" step="1" value="1">
            </div>

            <div class="population-display">
                <textarea id="population-text" placeholder="Text area donde muestre la población generada" readonly></textarea>
            </div>

            <div class="start-button">
                <button id="start">INICIAR</button>
            </div>

            <div class="process-table">
                <table id="process-table">
                    <thead>
                        <tr>
                            <th>Generación</th>
                            <th>Maximizar</th>
                            <th>Fitness maximizar</th>
                            <th>Minimizar</th>
                            <th>Fitness minimizar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Las nuevas filas se agregarán aquí -->
                    </tbody>
                </table>
            </div>
        </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>